<%- include("partials/header") -%>
    <div class="table">
        <form action='/save' method="post">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Food Items with quantity</th>
                    <th>Protien</th>
                    <th>Category</th>
                    <th>Save</th>

                </tr>
                <%items.forEach(function(item,index){%>
                    <tr>
                        <td>
                            <%=item.name%>
                        </td>
                        <td>
                            <%item.mealItems.forEach(function(it){%>
                                <%=it.food.name%>: <%=it.quantity%>,
                                        <%});%>
                        </td>
                        <td>
                            <%=protien[index]%>
                        </td>
                        <td>
                            <%=item.category%>
                        </td>
                        <td><input type="checkbox" name="checked" value="<%=item._id%>"></td>

                    </tr>
                <%});%>
            </table>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <form action="/clear" method="POST">
        <button type="submit" class="btn btn-primary">Clear</button>
    </form>
    <%- include("partials/footer") -%>